{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="app_pick-of-the-month">
    <h2>La sélection du mois</h2>

    <ol class="row list-unstyled">
        {% for software in softwares %}
        <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="software-unit-home backgroundUnit" id="softwarePreviewCard-23">
                <a href="/fr/softwares/23" class="linkItem"></a>
                <div class="size-logo">
                    <a href="/fr/softwares/23" title="Logiciel : {{ software.name  }}"><img src="/img/files/Softwares/OpenADS/avatar/{{ software.name  }}-logo.png" alt="{{ software.name  }}" class="img-responsive" loading="lazy" xoxb7fl8o=""></a>
                </div>
                <a href="/fr/softwares/23"  class="" title="Logiciel : {{ software.name  }}">{{ software.name  }}</a>
                <p class="text-overflow project-description">{{ software.description }}</p>
                <div class="rating-unit"><span class="glyphicon glyphicon-star rating-star">
                            <span class="sr-only">*</span>
                        </span><span class="glyphicon glyphicon-star rating-star">
                            <span class="sr-only">*</span>
                        </span><span class="glyphicon glyphicon-star rating-star">
                            <span class="sr-only">*</span>
                        </span><span class="glyphicon glyphicon-star rating-star">
                            <span class="sr-only">*</span>
                        </span> <span>
                <span class="sr-only">
                 4/4
                </span>
                <span>

                </span>
            </span></div>
            </div>
        </li>
        {% endfor %}
    </ol>

</div>
{% endblock %}
